*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: black;
}

.container{
    width: 40%;
    margin: 100px auto 0;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: #252424;
}

.post:first-child{
    border: none;
}

.post{
    display: flex;
    gap: 10px;
    padding: 20px;
    border-top: 1px solid gray;
}

.avatar-section{
    width: 50px;
    height: 50px;
}

.avatar-section img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.nickname{
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.info{
    width: 90%;
}

.post-text{
    width: 100%;
    margin-top: 10px;
    color: white;
    overflow-wrap: break-word;
}

.add-new-post-btn{
    position: fixed;
    bottom: 30px; 
    right: 30px;
    margin-left: auto; 
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: gray;
}